@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }
  
  .login-container {
    display: flex;
    height: 100vh;
  }
  
  .login-left {
    flex: 1;
    background-color: #1B3B54; /* Dark blue background */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-left h1 {
    font-size: 2.5rem;
  }
  
  .login-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa; /* Light gray background */
  }
  
  .login-form {
    width: 90%;
    max-width: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-form h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login-button {
    width: 100%;
    padding: 5px;
    background-color: #1B3B54; /* Dark blue background */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bolder;
  }
  
  .login-button:hover {
    background-color: #154263; /* Slightly darker blue */
  }
  
  .login-form p {
    margin-top: 15px;
    text-align: center;
  }
  
  .login-form a {
    color: #1B3B54; /* Dark blue */
    text-decoration: none;
  }
  
  .login-form a:hover {
    text-decoration: underline;
  }

  .success-popup, .error-popup {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(76, 175, 80, 0.9); /* Green for success */
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    animation: fadeOut 3s forwards;
  }
  
  .error-popup {
    background-color: rgba(244, 67, 54, 0.9); /* Red for error */
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      display: none;
    }
  }
  
  